example-reports/pmd.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="pmd" type="pmd"/>
  <xs:complexType name="file">
    <xs:sequence>
      <xs:element type="violation" name="violation" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="optional"/>
  </xs:complexType>
  <xs:complexType name="pmd">
    <xs:sequence>
      <xs:element type="file" name="file" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="version"/>
    <xs:attribute type="xs:string" name="timestamp"/>
  </xs:complexType>
  <xs:complexType name="violation">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="beginline" use="optional"/>
        <xs:attribute type="xs:string" name="endline" use="optional"/>
        <xs:attribute type="xs:string" name="begincolumn" use="optional"/>
        <xs:attribute type="xs:string" name="endcolumn" use="optional"/>
        <xs:attribute type="xs:string" name="rule" use="optional"/>
        <xs:attribute type="xs:string" name="ruleset" use="optional"/>
        <xs:attribute type="xs:string" name="package" use="optional"/>
        <xs:attribute type="xs:string" name="class" use="optional"/>
        <xs:attribute type="xs:string" name="method" use="optional"/>
        <xs:attribute type="xs:string" name="externalInfoUrl" use="optional"/>
        <xs:attribute type="xs:string" name="priority" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>